<!DOCTYPE html>
<html lang="en" class="semi-dark">
  <head>
    <%- include("partials/metaHead") %>
    <title>Register Reddit - TDSoft</title>
  </head>

  <body>
    <!--start wrapper-->
    <div class="wrapper">
      <%- include("partials/topHeader") %> <%- include("partials/sidebarNav") %>

      <!--start content-->
      <main class="page-content">
        <!-- START Add emails -->
        <div class="card radius-10 shadow-sm w-100">
          <div class="card-header">
            <h5 class="mb-0">Add emails</h5>
          </div>
          <div class="card-body">
            <form method="POST">
              <div class="mb-3">
                <label for="emails" class="form-label">Emails</label>
                <textarea
                  name="emails"
                  class="form-control"
                  id="emails"
                  cols="30"
                  rows="10"
                  placeholder="email1|password&#13;&#10;email2|password&#13;&#10;..."
                ></textarea>
              </div>
              <button class="btn btn-primary px-5" type="submit">Submit</button>
            </form>
          </div>
        </div>
        <!-- END Add emails -->

        <!-- START Emails -->
        <div class="card radius-10 shadow-sm w-100">
          <div class="card-header">
            <div class="row justify-content-between align-items-center">
              <div class="col">
                <h5 class="mb-0">Emails</h5>
              </div>
              <div class="col text-end">
                <!-- <a href="/proxies/delete-all" class="btn btn-danger px-4"
                  >Delete All</a
                > -->
              </div>
            </div>
          </div>
          <div class="card-body">
            <table class="table table-striped">
              <thead>
                <tr>
                  <th>Username</th>
                  <th>Password</th>
                  <th>Added Date</th>
                  <th>Status</th>
                </tr>
              </thead>
              <tbody>
                <% for (email of emails) { %>
                <tr>
                  <td><%= email.username %></td>
                  <td><%= email.password %></td>
                  <td><%= email.addedDate.toLocaleString() %></td>
                  <td><%= email.status ? "Available" : "Used" %></td>
                </tr>
                <% } %>
              </tbody>
            </table>
            <!-- START Pagination -->
            <nav class="mt-3">
              <ul class="pagination round-pagination">
                <li
                  class="page-item <%= currentPage === 1 ? 'disabled' : '' %>"
                >
                  <a
                    href="/emails?page=<%= currentPage - 1 %>"
                    class="page-link"
                    ><span aria-hidden="true">«</span></a
                  >
                </li>
                <% for (let i = 1; i <= totalPages; i++) { %>
                <li class="page-item <%= currentPage === i ? 'active' : ''%>">
                  <a href="/emails?page=<%= i %>" class="page-link"><%= i %></a>
                </li>
                <% } %>

                <li
                  class="page-item <%= currentPage === totalPages ? 'disabled' : '' %>"
                >
                  <a
                    href="/emails?page=<%= currentPage + 1 %>"
                    class="page-link"
                    ><span aria-hidden="true">»</span></a
                  >
                </li>
              </ul>
              <span>Total: <%= totalItems %> accounts</span>
            </nav>
            <!-- END Pagination -->
          </div>
        </div>
        <!-- END Accounts-->
      </main>
      <!--end page main-->

      <!--start overlay-->
      <div class="overlay nav-toggle-icon"></div>
      <!--end overlay-->

      <!--Start Back To Top Button-->
      <a href="javaScript:;" class="back-to-top"
        ><i class="bx bxs-up-arrow-alt"></i
      ></a>
      <!--End Back To Top Button-->
    </div>
    <!--end wrapper-->

    <%- include("partials/jsLib") %>
  </body>
</html>
